<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}{{^title}}Raven{{/title}}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Playfair+Display:400/Lora:400,700,400i,700i">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:title" content="{{title}}" />
		<meta property="og:description" content="{{description}}" />
		<meta name="description" content="{{description}}" />
	</head>
	<body>
		<div class="container">
			{{#if message}}
				{{message}}
			{{/if}}
			<header><a href="/">Raven</a> | <a href="/post">Post</a> • <a href="/me">Profile</a> • <a href="/settings">Settings</a></header>
			{{{ body }}}
			<div class="row block inverse">
				<footer>&copy; Raven Poetry 2016</footer>
			</div>
		</div>
	</body>
</html>
