<div class="row">
	<div class="twelve columns">
		<h2>&ldquo;{{poem.title}}&rdquo; – <a href="/@{{author.username}}">{{author.username}}</a></h2>
		<p>{{poem.content}}</p>
		<a href="/edit/{{poem._id}}">edit</a> | <a href="/delete/{{poem._id}}">delete</a>
	</div>
</div>